<!DOCTYPE html>
<html>

<body
    style="color: #000; font-size: 16px; text-decoration: none; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; background-color: #ffffff; height: fit-content;">
    <div id="logo" style="color:#E1B530; padding: 0 20px;">
        <div style="margin: auto; width: 100%; height: 320px; background-image: url(https://res.cloudinary.com/dmlxcxaac/image/upload/v1724688393/bndip3diyajnyqecz4bn.png);">
            <center>
                <img class="nav-logo" style="margin-top: 80px;" src="https://res.cloudinary.com/dmlxcxaac/image/upload/v1724688392/bkyr4dt4mavrup1gdscw.png">
            </center>
        </div>
    </div>

    <div id="wrapper" style="max-width: 100%; padding: 20px;">
        <div id="content" style="padding: 20px; background-color: #fff;">

            <!-- Dynamic content insertion -->
            <h2 style="text-align: center;">
                <%= subject %>
            </h2> <!-- Renders the subject dynamically -->
            <p style="font-size: 1.2rem;">
                <%= text %> <!-- Renders the main content dynamically -->
            </p>
            <br />

            <p style="display: flex; justify-content: center; margin-top: 10px;">
                <center>
                    <!-- Additional dynamic content or images can go here -->
                </center>
            </p>
        </div>

        <div id="footer1"
            style="margin-bottom: 20px; padding: 0px 0px; text-align: center; background-color: #e5e7e9; padding: 10px; position: relative; top: 230px;">
            <center>
                <div style="margin: 20px 0; padding: 45px 0;">
                    <img src="https://res.cloudinary.com/dmlxcxaac/image/upload/v1724688393/e9glcpxai6qckxvjsdjj.png" alt="">
                </div>
            </center>
            <p style="font-size: 0.8rem; text-align: start;">
                For any issues, contact our customer care 24/7: support@xxxxxxx.com
                <br><br>
                Nothing in this email is intended to constitute the marketing or promotion of Vantage products and
                services.
                <br><br>
                <b>Confidentiality</b>
                <br>
                The content of this email is confidential and intended for the recipient specified. If you received this
                message by mistake, please let us know, ensuring that you erase all copies and attachments and refrain
                from forwarding the information to any third party.
                <br><br>
                <b>Risk Warning</b>
                <br>
                Leveraged products come with a high risk of losing money and may not be suitable for everyone. You
                should consider whether you can afford to lose your capital and ensure you fully understand the risks
                involved. Seek independent advice if necessary. Please read our Risk Disclosure.
            </p>
            <div id="footer"
                style="margin-bottom: 20px; padding: 0px 8px; text-align: end; position: relative; top: 0px;">
                <span style="font-size: 13px;">Vantage</span> <span>|</span> <span style="font-size: 13px;">2024</span>
            </div>
        </div>
    </div>
</body>

</html>